.navbar {
    justify-content: center;
    font-size: 18px;
}
.main-div {
    justify-items: center;
    padding-top: 100px;
}
.main-div h1 {
    color: #616161;
    font-size: 32px;
}
.main-div a {
    color: #0095ff;
    text-decoration: none;
}
.h2-1 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 50PX;
}
.badge {
    font-weight: 100;
    font-size: 18px;
}
.footer-a {
    color: rgba(128, 128, 128, 0.733);
    font-size: 18px;
}
@media screen and (max-width:800px) {
    .navbar {
        font-size: 16px;
    }
    .main-div {
        padding-top: 80px;
        padding-bottom: 70px;
    }
    .h1-1 {
        font-size: 35px;
    }
    .h2-1 {
        font-size: 25px;
    }
    h1, h2, p {
        margin-left: 5%;
        margin-right: 5%;
    }
}