.navbar {
    justify-content: center;
    font-size: 18px;
}
.main-div {
    justify-items: center;
    padding-top: 100px;
}
.h2-1 {
    font-size: 35px;
    font-weight: 600;
    padding-top: 50PX;
}
.main-a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.made-with {
    color: #616161;
}
.made-with a {
    color: #616161;
}
.footer-a {
    color: rgba(128, 128, 128, 0.733);
    font-size: 18px;
}
@media screen and (max-width:800px) {
    .navbar {
        font-size: 16px;
    }
    .main-div {
        padding-top: 80px;
        padding-bottom: 70px;
    }
    .h1-1 {
        font-size: 35px;
    }
    .h2-1 {
        font-size: 25px;
    }
    .made-with {
        font-size: 14px;
    }
    h1, h2, p {
        margin-left: 5%;
        margin-right: 5%;
    }
}